# 1. SQLITE

## Opción 1:

In [1]:
import sqlite3

In [1]:
# Mirar donde está trabajando el kernel y va a guardar las cosites

import os
os.getcwd()

'c:\\Users\\APint\\Documents\\Data Science\\Bootcamp EDEM_The Bridge\\Core_VLC\\Carpeta de trabajo\\repo_sept_23\\2-Data_Analysis\\6-Bases_de_datos\\SQL'

In [3]:
con = sqlite3.connect("./bbdd/sqlite_db_test.db") # Si no existe, crea el fichero en esa ruta

# Si quieres ir un nivel arriba en la ruta --> "../"

In [4]:
# Las queries en python entre strings

query = """

CREATE TABLE IF NOT EXISTS projects (
    id integer PRIMARY KEY,
    name text NOT NULL,
    begin_date text,
    end_date text
);

"""

In [6]:
# La connection es el puente
# El cursor es el que ejecuta queries

cursor = con.cursor()
cursor.execute(query)

In [7]:
query = """

INSERT INTO projects (id, name, begin_date, end_date)
VALUES (1, "Juan", "bla", "blabla");

"""
cursor = con.cursor()
cursor.execute(query)

In [8]:
# commitear los cambios en la bbdd

con.commit()

In [9]:
query = """

SELECT * FROM projects

"""

# cursor = con.cursor()
cursor.execute(query) # esta no se commitea

In [10]:
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Juan', 'bla', 'blabla')

Todo lo anterior valió verga, se hace en una línea con pandas.

## Opción 2: utilizando pandas

In [11]:
# !pip install sqlalchemy

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/28/53/66f4b35a22483c7cf5ae18a7f07655b32a249c8279364bd8cf29a8c8d2ec/SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl.metadata (9.7 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\apint\anaconda3\envs\eda_env\lib\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/61/ad/94208c68fa3c80d407adafb940269f15523584c61ac2c6e7cd21af3cab71/greenlet-3.0.0-cp39-cp39-win_amd64.whl.metadata
  Downloading greenlet-3.0.0-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 3.6 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.1 MB 7.1 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 9.2 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.1 MB/s eta 0:00:00
Downloading greenlet-3.0.0-cp39-cp39-win_amd64.whl (286 kB)
   ---------------------------------------- 0.0/286.9 kB ? eta -:--:--
   --------------------------------------- 286.9/286.9 kB 17.3 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.0 sqlalchemy-2.0.22

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

In [14]:
# sqlite:///
# + ruta desde donde está el kernel
engine = create_engine("sqlite:///./bbdd/sqlite_db_test.db")

In [15]:
data = pd.DataFrame({
    "id": [1],
    "name": ["Juan"],
    "begin_date":["bla"],
    "end_date":["blabla"]
})

data

   id  name begin_date end_date
0   1  Juan        bla   blabla

In [16]:
# Subir df a la bbdd

data.to_sql("projects2", con=engine)

1

In [17]:
# Subir df a la bbd y, si ya existe, append

data.to_sql("projects2", con=engine, if_exists="append")

1

In [18]:
# SELECT query

query = """

SELECT * FROM projects2

"""

pd.read_sql(query, con=engine)

   index  id  name begin_date end_date
0      0   1  Juan        bla   blabla
1      0   1  Juan        bla   blabla

Esta opción tiene alguna desventaja como el no tener control sobre la PRIMARY KEY. Normalmente no nos influye.

# 2. MySQL

Con sqlite la conexión era a un fichero, local. Ahora tendremos que establecer una conexión con un servidor (puerto, red, etc. abierto en un ordenador).

Info necesaria para conectar a un sitio:

BBDD MySQL de hoy:

* host = "db4free.net"
* port = 3306
* user = "mysqlthebridge"
* password = "mysqlpass_1!"
* db = "my_db_thebridge"

In [ ]:
host = "db4free.net"
port = 3306
user = "mysqlthebridge"
password = "mysqlpass_1!"
db = "my_db_thebridge"

In [19]:
# !pip install mysqlclient

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/79/bb/5f9eec6eabe12240e1bb5001630b65fa4a1e43b49139f6248b0ba4afba4b/mysqlclient-2.2.0-cp39-cp39-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.0-cp39-cp39-win_amd64.whl.metadata (4.5 kB)
Downloading mysqlclient-2.2.0-cp39-cp39-win_amd64.whl (200 kB)
   ---------------------------------------- 0.0/200.1 kB ? eta -:--:--
   ------- ------------------------------- 41.0/200.1 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 200.1/200.1 kB 3.0 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0

In [20]:
# mysql churro (External Database URL): 

# protocol://user:password@host:port/db

engine = create_engine("mysql://mysqlthebridge:mysqlpass_1!@db4free.net:3306/my_db_thebridge")

In [36]:
query = """SHOW TABLES"""

pd.read_sql(query, con=engine)

  Tables_in_my_db_thebridge
0            mysqlthebridge
1                  project2
2                      test

In [37]:
query = "SELECT * FROM test"

df = pd.read_sql(query, con=engine)
df

   a  b
0  1  4
1  2  5
2  3  6
3  4  7
4  5  6

# 3. POSTGRESQL

In [3]:
# !pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/cb/35/009b43d67a7010b789690a46d49521fd435ce33ce722fe8d7ac7efe35c21/psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   -------- ------------------------------- 0.2/1.2 MB 2.9 MB/s eta 0:00:01
   -------------------- ------------------- 0.6/1.2 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 6.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [4]:
# POSTGRESQL churro (External Database URL): 

# protocol://user:password@host:port/db

# hay que cambiar "postgre" por "postgresql" para usar sqlalchemy

engine = create_engine("postgresql://user:nr39sza8CZqtwfqvHtpcXbD5pW4Smqyj@dpg-ckrp5tnd47qs73apagl0-a.frankfurt-postgres.render.com/my_instance_as96")

In [6]:
query = "SELECT * FROM test"

df = pd.read_sql(query, con=engine)
df

   a  b
0  1  4
1  2  5
2  3  6