# Limpieza de datos del dataset de coches de segunda mano de Kaggle.

## 1. Información de los datos Scrapeados.

En este Notebook se limpian los datos del dataset de coches de segunda mano de kaggle que se usará en caso de no contar con suficientes vehículos scrapeados, para crear un mejor modelo.

Por ello, los datos presentes en este dataset se transformarán levemente para que tengan las mismas features y formato que los datos extraídos mediante el WebScraping que se ha realizado de [coches.net](coches.net).

Lo primero que haremos es cargar algunos vehículos de la tabla TX_VEHICULOS_SEG_MANO de la base de datos en la que guardamos los vehículos scrapeados para ver los campos de la tabla y su formato:

In [13]:
import pandas as pd
import sqlite3

# Conexión a la BBDD:
con = sqlite3.connect("../include/db_vehiculos.db")

# Vamos a ver qué nos devuelve un select sobre la tabla:
query = """
SELECT *
FROM TX_VEHICULOS_SEG_MANO
where
    origen_anuncio = 'WebScraping'
    --and marca not in ('BMW', 'VOLKSWAGEN', 'MERCEDES-BENZ', 'AUDI', 'PEUGEOT', 'FORD', 'RENAULT', 'OPEL', 'CITROEN', 'SEAT')
order by
    fecha_carga desc
;
"""

# Leemos los resultados en un DataFrame de pandas
df_db = pd.read_sql_query(query, con)

# Mostramos los primeros registros:
df_db.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,...,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
0,60545114,CITROEN,c4 picasso,7999.0,Diésel,2014,195000,115.0,5.0,5.0,...,Monovolumen,1560.0,negro,Barcelona,B (amarilla),WebScraping,2025-05-27,202505,2025-05-27 10:50:08,https://www.coches.net/citroen-c4-picasso-16-e...
1,60657064,OPEL,corsa,11985.0,Gasolina,2020,32325,100.0,5.0,5.0,...,Berlina,1364.0,blanco,Sta. C. Tenerife,C (verde),WebScraping,2025-05-27,202505,2025-05-27 10:49:44,https://www.coches.net/opel-corsa-14-turbo-74k...
2,60656553,OPEL,corsa,14990.0,Gasolina,2022,63540,130.0,5.0,5.0,...,Berlina,1199.0,azul,Valencia,None,WebScraping,2025-05-27,202505,2025-05-27 10:48:33,https://www.coches.net/opel-corsa-12t-xht-96kw...
3,60659620,CITROEN,berlingo,9990.0,Gasolina,2018,110000,110.0,5.0,5.0,...,Monovolumen,1199.0,gris,Sta. C. Tenerife,None,WebScraping,2025-05-27,202505,2025-05-27 10:47:11,https://www.coches.net/citroen-berlingo-talla-...
4,60659465,AUDI,a3,29150.0,Híbrido,2020,82351,150.0,5.0,5.0,...,Berlina,1498.0,azul,Madrid,ECO (azul/verde),WebScraping,2025-05-27,202505,2025-05-27 10:37:06,https://www.coches.net/audi-a3-sportback-genui...

In [14]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        5002 non-null   int64
 1   marca                5002 non-null   object
 2   modelo               5002 non-null   object
 3   precio               5002 non-null   float64
 4   combustible          4820 non-null   object
 5   anyo_vehiculo        5002 non-null   int64
 6   kilometraje          5002 non-null   int64
 7   potencia             4885 non-null   float64
 8   num_puertas          4890 non-null   float64
 9   num_plazas           4886 non-null   float64
 10  tipo_cambio          5002 non-null   object
 11  tipo_vehiculo        5002 non-null   object
 12  cilindrada_motor     4864 non-null   float64
 13  color                4830 non-null   object
 14  provincia            5002 non-null   object
 15  etiqueta_eco         3306 non-null   object
 16  origen_anuncio       5002 non-null   object
 17  fecha_publicacion    5002 non-null   object
 18  anyomes_publicacion  5002 non-null   int64
 19  fecha_carga          5002 non-null   object
 20  url                  5002 non-null   object
dtypes: float64(5), int64(4), object(12)
memory usage: 820.8+ KB

Vemos que la tabla TX_VEHICULOS_SEG_MANO tiene 21 columnas, en la que cada registro se identifica únicamente por el pk_anuncio_id.

Además, tiene varias columnas tanto numéricas como categóricas que servirán para features del modelo predictivo, la columna precio será el target a predecir. 

También existe una columna llamada ```"origen_anuncio"``` que nos servirá para distinguir entre anuncios scrapeados o provenientes del dataset de Kaggle en caso de combinar ambos orígenes de datos y, por último, hay columnas informativas como las columnas: ```["fecha_publicacion", "anyomes_publicacion", "fecha_carga", "url"]```.

## 2. Información de los datos del Dataset de Kaggle.

Ahora vamos a ver el tipo de datos que contiene el dataset de Kaggle.

Importamos los datos desde el siguiente link:

[https://www.kaggle.com/datasets/datamarket/venta-de-coches](https://www.kaggle.com/datasets/datamarket/venta-de-coches)

Creo que el link no funciona actualmente, por lo que importaremos los datos desde local, ya que los tengo descargados.

In [15]:
# Importamos las librerías necesarias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("../include/data/raw/coches-de-segunda-mano-sample.csv")
df.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              50000 non-null  object
 1   company          50000 non-null  object
 2   make             49998 non-null  object
 3   model            49995 non-null  object
 4   version          50000 non-null  object
 5   price            50000 non-null  int64
 6   price_financed   23563 non-null  float64
 7   fuel             49954 non-null  object
 8   year             49998 non-null  float64
 9   kms              50000 non-null  int64
 10  power            41472 non-null  float64
 11  doors            50000 non-null  int64
 12  shift            49889 non-null  object
 13  color            49406 non-null  object
 14  photos           50000 non-null  int64
 15  is_professional  50000 non-null  bool
 16  dealer           50000 non-null  object
 17  province         49994 non-null  object
 18  country          50000 non-null  object
 19  publish_date     50000 non-null  object
 20  insert_date      50000 non-null  object
dtypes: bool(1), float64(3), int64(4), object(13)
memory usage: 7.7+ MB

Vemos que el Dataset de Kaggle cuenta con 50.000 registros. Vamos a ver cuántos registros tiene por marca:

In [18]:
# Número de coches por marca en el df:

num_coches_marca_df = df.groupby("make")["make"].count().sort_values(ascending=False)

pd.set_option("display.max_rows", None)
print(num_coches_marca_df)

make
VOLKSWAGEN        4624
BMW               4510
MERCEDES-BENZ     4227
AUDI              3745
PEUGEOT           3314
RENAULT           3127
FORD              3116
OPEL              2924
CITROEN           2855
SEAT              2604
NISSAN            1634
TOYOTA            1562
FIAT              1398
HYUNDAI           1149
KIA               1118
VOLVO              823
MINI               811
LAND-ROVER         595
SKODA              574
PORSCHE            517
MAZDA              490
HONDA              464
JAGUAR             339
MITSUBISHI         334
ALFA ROMEO         302
JEEP               299
LEXUS              282
DACIA              277
SUZUKI             252
CHEVROLET          224
SSANGYONG          216
SMART              196
CHRYSLER           126
DS                 125
SUBARU              99
ABARTH              96
INFINITI            78
SAAB                73
LANCIA              62
MASERATI            62
IVECO               48
DAEWOO              45
ROVER               36
FERRARI             31
DODGE               28
BENTLEY             25
TESLA               23
CUPRA               15
ASTON MARTIN        15
CADILLAC            14
MG                  11
MAHINDRA            11
TATA                11
GALLOPER            10
DFSK                 8
LAMBORGHINI          8
ISUZU                7
SANTANA              4
HUMMER               4
CORVETTE             3
AUSTIN               2
LADA                 2
PONTIAC              2
DAIHATSU             1
IVECO-PEGASO         1
DR AUTOMOBILES       1
MORGAN               1
MAXUS                1
LOTUS                1
LDV                  1
ARO                  1
UMM                  1
VAZ                  1
ALPINE               1
PIAGGIO              1
Name: make, dtype: int64

Observamos que para la marca que más vehículos hay registrados es ```VolksWagen```, con 4.624 registros.

Como solo estamos scrapeando vehículos de las siguientes 4 marcas (ya que tampoco se pueden scrapear más rápido sin ser detectados y para que podamos realizar un modelo que funcione bien para estas 4), nos vamos a quedar sólo con los vehículos de estas marcas:

```['HYUNDAI', 'KIA', 'NISSAN', 'TOYOTA']```

In [19]:
df = df.loc[df["make"].isin(['HYUNDAI', 'KIA', 'NISSAN', 'TOYOTA'])]

df.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
9,13b881bdd31a0387edd64edd726e8c93,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,NOTE,NISSAN NOTE 5p. 1.2G 80CV Acenta NissanConnect...,6300,NaN,Gasolina,2016.0,77000,...,5,Manual,Blanco,6,False,8a3b0eb4d055a275274895319688e80a,Barcelona,Spain,2020-12-14 17:39:46,2021-01-15 00:00:00
35,9df64689ac5768546723b844d76a1b9b,9881bcdd5a0ad4733037b3fb25e69c3a,KIA,Sportage,KIA Sportage 5p.,4500,NaN,Diésel,2008.0,128000,...,5,Manual,Gris / Plata,5,False,464e07afc9e46359fb480839150595c5,Huelva,Spain,2021-01-14 05:38:48,2021-01-15 00:00:00
39,0d17809a4a1de7ef2c63f342f306713c,9881bcdd5a0ad4733037b3fb25e69c3a,KIA,XCeed,KIA XCeed 1.6 GDi PHEV 104kW 141CV eMotion 5p.,32300,28800.0,Híbrido enchufable,2021.0,2800,...,5,Manual,Cassa White (WD),6,True,Talleres M Gallego,Murcia,Spain,2020-12-17 08:46:44,2021-01-15 00:00:00
50,a19d08cbe35ce508121bd5613d46455b,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,NOTE,NISSAN NOTE 5p. 1.2G 80CV NTEC Pack Comfort 5p.,7900,NaN,Gasolina,2015.0,54200,...,5,Manual,Blanco,2,False,c32d65ca9197efa4d8c2df006034a6ef,Pontevedra,Spain,2020-12-18 09:22:37,2021-01-15 00:00:00
72,02916bf1509d2988bc4f5cb9e2551799,9881bcdd5a0ad4733037b3fb25e69c3a,HYUNDAI,i40,HYUNDAI i40 1.6 GDI GLS 135cv 4p.,8400,NaN,Gasolina,2012.0,107000,...,4,Manual,Gris / Plata,14,True,Central Seminuevos Km0,Álava,Spain,2021-01-08 22:39:01,2021-01-15 00:00:00

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5463 entries, 9 to 49995
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              5463 non-null   object
 1   company          5463 non-null   object
 2   make             5463 non-null   object
 3   model            5463 non-null   object
 4   version          5463 non-null   object
 5   price            5463 non-null   int64
 6   price_financed   3358 non-null   float64
 7   fuel             5446 non-null   object
 8   year             5462 non-null   float64
 9   kms              5463 non-null   int64
 10  power            4878 non-null   float64
 11  doors            5463 non-null   int64
 12  shift            5452 non-null   object
 13  color            5425 non-null   object
 14  photos           5463 non-null   int64
 15  is_professional  5463 non-null   bool
 16  dealer           5463 non-null   object
 17  province         5462 non-null   object
 18  country          5463 non-null   object
 19  publish_date     5463 non-null   object
 20  insert_date      5463 non-null   object
dtypes: bool(1), float64(3), int64(4), object(13)
memory usage: 901.6+ KB

In [21]:
# Comprobamos el número de marcas ahora:

num_coches_marca_df = df.groupby("make")["make"].count().sort_values(ascending=False)

pd.set_option("display.max_rows", None)
print(num_coches_marca_df)

make
NISSAN     1634
TOYOTA     1562
HYUNDAI    1149
KIA        1118
Name: make, dtype: int64

Nos hemos quedado con **5.463 registros, pertenecientes a 4 marcas**.

Si comparamos los campos presentes en ambos DataFrames, vemos que coinciden varios de ellos. Vamos a **eliminar** los siguientes campos de este DataFrame importado de Kaggle, ya que no existen en los registros scrapeados:

- ```company```
- ```version```
- ```price_financed```
- ```photos```
- ```is_professional```
- ```dealer```
- ```country```

In [22]:
df.drop(columns=["company", "version", "price_financed", "photos", "is_professional", "dealer", "country"],
         inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5463 entries, 9 to 49995
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           5463 non-null   object
 1   make          5463 non-null   object
 2   model         5463 non-null   object
 3   price         5463 non-null   int64
 4   fuel          5446 non-null   object
 5   year          5462 non-null   float64
 6   kms           5463 non-null   int64
 7   power         4878 non-null   float64
 8   doors         5463 non-null   int64
 9   shift         5452 non-null   object
 10  color         5425 non-null   object
 11  province      5462 non-null   object
 12  publish_date  5463 non-null   object
 13  insert_date   5463 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 640.2+ KB

Vemos que ahora nos quedamos con 15 columnas.

Además, también vamos a renombrar los siguientes campos para que coincidan con los de nuestra tabla original:

- ```make``` --> ```marca```
- ```model``` --> ```modelo```
- ```price``` --> ```precio```
- ```fuel``` --> ```combustible```
- ```year``` --> ```anyo_vehiculo```
- ```kms``` --> ```kilometraje```
- ```power``` --> ```potencia```
- ```doors``` --> ```num_puertas```
- ```shift``` --> ```tipo_cambio```
- ```province``` --> ```provincia```
- ```publish_date``` --> ```fecha_publicacion```
- ```insert_date``` --> ```fecha_carga```

También creamos los siguientes campos para poder insertar estos registros en la base de datos:

- ```pk_anuncio_id```: Secuencial que identifica el vehículo. No coincide con el de los vehículos scrapeados, ya tenemos 35.046 en este dataset y los scrapeados empiezan en 50000000.
- ```origen_anuncio```: Tendrá el valor "dataset kaggle" para todos estos registros importados desde el Dataset.
- ```anyomes_publicacion```: Año y mes de la fecha de publicación en formato 'YYYYMM'.

Creamos también los siguientes campos, aunque los dejaremos como *null* para los datos de este origen:

- ```num_plazas```: *null*
- ```tipo_vehiculo```: *null*
- ```cilindrada_motor```: *null*
- ```etiqueta_eco```: *null*

In [24]:
import pandas as pd

# Renombramos las columnas:
df = df.rename(columns={
    'make': 'marca',
    'model': 'modelo',
    'price': 'precio',
    'fuel': 'combustible',
    'year': 'anyo_vehiculo',
    'kms': 'kilometraje',
    'power': 'potencia',
    'doors': 'num_puertas',
    'shift': 'tipo_cambio',
    'province': 'provincia',
    'publish_date': 'fecha_publicacion',
    'insert_date': 'fecha_carga'
})

# Campo 'pk_anuncio_id':
df['pk_anuncio_id'] = range(100000, 100000 + len(df))

# Campo 'origen_anuncio':
df['origen_anuncio'] = 'dataset kaggle'

# Campo 'anyomes_publicacion' en formato YYYYMM:
df['fecha_publicacion'] = pd.to_datetime(df['fecha_publicacion'], errors='coerce')
df['anyomes_publicacion'] = df['fecha_publicacion'].dt.strftime('%Y%m')

# Campos nulos:
df['num_plazas'] = None
df['tipo_vehiculo'] = None
df['cilindrada_motor'] = None
df['etiqueta_eco'] = None

# Conversión de tipos:
df['fecha_publicacion'] = df['fecha_publicacion'].dt.strftime('%Y-%m-%d')
df['anyomes_publicacion'] = df['anyomes_publicacion'].astype('Int64')  # Permite nulos
df['precio'] = df['precio'].astype(float)

# Reordenamos las columnas:
orden_columnas = [
    'pk_anuncio_id',
    'marca',
    'modelo',
    'precio',
    'combustible',
    'anyo_vehiculo',
    'kilometraje',
    'potencia',
    'num_puertas',
    'num_plazas',
    'tipo_cambio',
    'tipo_vehiculo',
    'cilindrada_motor',
    'color',
    'provincia',
    'etiqueta_eco',
    'origen_anuncio',
    'fecha_publicacion',
    'anyomes_publicacion',
    'fecha_carga',
    'url'
]

df = df[orden_columnas]


df.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,...,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
9,100000,NISSAN,NOTE,6300.0,Gasolina,2016.0,77000,80.0,5,None,...,None,None,Blanco,Barcelona,None,dataset kaggle,2020-12-14,202012,2021-01-15 00:00:00,13b881bdd31a0387edd64edd726e8c93
35,100001,KIA,Sportage,4500.0,Diésel,2008.0,128000,NaN,5,None,...,None,None,Gris / Plata,Huelva,None,dataset kaggle,2021-01-14,202101,2021-01-15 00:00:00,9df64689ac5768546723b844d76a1b9b
39,100002,KIA,XCeed,32300.0,Híbrido enchufable,2021.0,2800,141.0,5,None,...,None,None,Cassa White (WD),Murcia,None,dataset kaggle,2020-12-17,202012,2021-01-15 00:00:00,0d17809a4a1de7ef2c63f342f306713c
50,100003,NISSAN,NOTE,7900.0,Gasolina,2015.0,54200,80.0,5,None,...,None,None,Blanco,Pontevedra,None,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,a19d08cbe35ce508121bd5613d46455b
72,100004,HYUNDAI,i40,8400.0,Gasolina,2012.0,107000,135.0,4,None,...,None,None,Gris / Plata,Álava,None,dataset kaggle,2021-01-08,202101,2021-01-15 00:00:00,02916bf1509d2988bc4f5cb9e2551799

In [54]:
# Comprobamos que el id se genera bien:

#df["pk_anuncio_id"].value_counts()

Comprobamos como ha quedado el df asignado al Dataset de Kaggle:

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5463 entries, 9 to 49995
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        5463 non-null   int64
 1   marca                5463 non-null   object
 2   modelo               5463 non-null   object
 3   precio               5463 non-null   float64
 4   combustible          5446 non-null   object
 5   anyo_vehiculo        5462 non-null   float64
 6   kilometraje          5463 non-null   int64
 7   potencia             4878 non-null   float64
 8   num_puertas          5463 non-null   int64
 9   num_plazas           0 non-null      object
 10  tipo_cambio          5452 non-null   object
 11  tipo_vehiculo        0 non-null      object
 12  cilindrada_motor     0 non-null      object
 13  color                5425 non-null   object
 14  provincia            5462 non-null   object
 15  etiqueta_eco         0 non-null      object
 16  origen_anuncio       5463 non-null   object
 17  fecha_publicacion    5463 non-null   object
 18  anyomes_publicacion  5463 non-null   Int64
 19  fecha_carga          5463 non-null   object
 20  url                  5463 non-null   object
dtypes: Int64(1), float64(3), int64(3), object(14)
memory usage: 944.3+ KB

Ahora que ya tenemos las columnas que equivalen a las que obtenemos mediante WebScraping, vamos a compararlas, ya que todavía hay modificaciones que realizar para poder combinar ambas fuentes de datos.

Recuperamos las columnas del ```df_db```, que contiene los vehículos del WebScraping:

In [56]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        731 non-null    int64
 1   marca                731 non-null    object
 2   modelo               731 non-null    object
 3   precio               731 non-null    float64
 4   combustible          718 non-null    object
 5   anyo_vehiculo        731 non-null    int64
 6   kilometraje          731 non-null    int64
 7   potencia             728 non-null    float64
 8   num_puertas          731 non-null    int64
 9   num_plazas           728 non-null    float64
 10  tipo_cambio          731 non-null    object
 11  tipo_vehiculo        731 non-null    object
 12  cilindrada_motor     719 non-null    float64
 13  color                722 non-null    object
 14  provincia            731 non-null    object
 15  etiqueta_eco         564 non-null    object
 16  origen_anuncio       731 non-null    object
 17  fecha_publicacion    728 non-null    object
 18  anyomes_publicacion  728 non-null    float64
 19  fecha_carga          731 non-null    object
 20  url                  731 non-null    object
dtypes: float64(5), int64(4), object(12)
memory usage: 120.1+ KB

In [26]:
# Comprobamos el número de modelos ahora:

num_coches_modelo_df = df.groupby("modelo")["modelo"].count().sort_values(ascending=False)

pd.set_option("display.max_rows", None)
print(num_coches_modelo_df)

modelo
QASHQAI                    594
Auris                      335
Sportage                   229
JUKE                       222
TUCSON                     210
Yaris                      205
i30                        178
X-TRAIL                    172
Rav4                       166
C-HR                       157
Micra                      146
ceed                       141
Corolla                    124
Avensis                    121
Carens                     115
i20                        108
Kona                       102
Aygo                        98
Stonic                      88
i40                         84
Verso                       84
Picanto                     71
LEAF                        70
i10                         66
ix35                        65
Rio                         63
IONIQ                       63
XCeed                       61
Niro                        60
Santa Fe                    56
Almera                      54
Sorento                     53
Corolla Verso               50
Carnival                    44
Land Cruiser                39
Primera                     37
Prius                       36
Pro Ceed                    34
NOTE                        34
Coupé                       32
Accent                      31
PULSAR                      30
NV200                       28
QASHQAI+2                   26
Niro PHEV                   25
ix20                        25
Hilux                       25
Terrano II                  23
Optima                      23
Celica                      23
Navara                      22
Ceed Tourer                 20
Getz                        19
Soul                        15
Proace Verso                14
Land Cruiser 90             14
Elantra                     13
Camry                       13
Almera Tino                 12
Matrix                      12
ceed Sportswagon            12
Venga                       11
Sonata                      11
Murano                      11
Pathfinder                  11
Prius+                      11
H-1                         11
e-Niro                      10
Patrol                      10
Cabstar                     10
Proace                       9
Primastar                    9
i20 Active                   9
Terrano                      9
ProCeed                      8
GT86                         8
Atos Prime                   8
Trajet                       8
e-NV200                      8
GT-R                         7
Veloster                     7
Patrol GR                    7
350Z                         7
Optima SW                    7
Vanette Cargo                6
Terracan                     6
NV400                        6
Corolla Sedán                5
Vanette                      5
Cerato                       5
Lantra                       5
NV300                        5
NV250                        5
370Z                         4
Shuma                        4
H350                         4
ix55                         4
e-NV200 EVALIA               4
NT400 Cabstar                3
NT400                        3
Grand Santa Fe               3
e-Soul                       3
Genesis                      3
ceed Sporty Wagon            3
EVALIA                       3
Stinger                      3
Land Cruiser 200             3
Trade                        3
iQ                           3
CAMION                       3
Maxima QX                    3
Proace City Verso            3
Serena                       3
H-1 Travel                   3
CUBE                         3
4Runner                      2
Urban Cruiser                2
Interstar                    2
Soul EV                      2
GR Yaris                     2
Atos                         2
Pixo                         2
Pick-up                      2
Cabstar E                    2
Land Cruiser 100             2
Kubistar                     2
Previa                       2
k2500                        1
100 NX                       1
XG                           1
Magentis                     1
Avensis Verso                1
Bluebird                     1
Carina E                     1
Dyna                         1
Land Cruiser 80              1
León                         1
MR2                          1
NP300 Navara                 1
Tiida                        1
Niro Hïbrido Enchufable      1
300 ZX                       1
Optima PHEV                  1
Pregio                       1
Sephia II                    1
Sunny                        1
Supra                        1
pro_ceed GT                  1
Name: modelo, dtype: int64

## Transformaciones para homogeneizar los datos de ambos orígenes.

Ahora vamos a ver las diferencias entre columnas de ambos DataFrames, para corregirlas y que queden lo más homogéneas posibles en la base de datos.

Coches dataset kaggle:

In [27]:
pd.set_option('display.max_columns', None)
df.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
9,100000,NISSAN,NOTE,6300.0,Gasolina,2016.0,77000,80.0,5,None,Manual,None,None,Blanco,Barcelona,None,dataset kaggle,2020-12-14,202012,2021-01-15 00:00:00,13b881bdd31a0387edd64edd726e8c93
35,100001,KIA,Sportage,4500.0,Diésel,2008.0,128000,NaN,5,None,Manual,None,None,Gris / Plata,Huelva,None,dataset kaggle,2021-01-14,202101,2021-01-15 00:00:00,9df64689ac5768546723b844d76a1b9b
39,100002,KIA,XCeed,32300.0,Híbrido enchufable,2021.0,2800,141.0,5,None,Manual,None,None,Cassa White (WD),Murcia,None,dataset kaggle,2020-12-17,202012,2021-01-15 00:00:00,0d17809a4a1de7ef2c63f342f306713c
50,100003,NISSAN,NOTE,7900.0,Gasolina,2015.0,54200,80.0,5,None,Manual,None,None,Blanco,Pontevedra,None,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,a19d08cbe35ce508121bd5613d46455b
72,100004,HYUNDAI,i40,8400.0,Gasolina,2012.0,107000,135.0,4,None,Manual,None,None,Gris / Plata,Álava,None,dataset kaggle,2021-01-08,202101,2021-01-15 00:00:00,02916bf1509d2988bc4f5cb9e2551799

Coches WebScraping coches.net:

In [63]:
pd.set_option('display.max_columns', None)
df_db.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
0,60579674,OPEL,Corsa 1.2 XEL Edition,12290.0,Gasolina,2022,58168,75.0,5,5.0,Manual,Berlina,1199.0,Rojo,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:58:23,https://www.coches.net/opel-corsa-12-xel-55kw-...
1,60579673,OPEL,Corsa 1.2T XHL GSLine,14510.0,Gasolina,2022,18652,100.0,5,5.0,Manual,Berlina,1199.0,Azul,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:57:56,https://www.coches.net/opel-corsa-12t-xhl-74kw...
2,60579672,OPEL,Corsa 1.2T XHL GSLine,13950.0,Gasolina,2022,27493,100.0,5,5.0,Manual,Berlina,1199.0,Gris / Plata,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:57:34,https://www.coches.net/opel-corsa-12t-xhl-74kw...
3,60579678,OPEL,Corsa 1.2 XEL Edition,12290.0,Gasolina,2022,49466,75.0,5,5.0,Manual,Berlina,1199.0,Blanco,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:56:49,https://www.coches.net/opel-corsa-12-xel-55kw-...
4,60580266,SEAT,Ibiza 1.6 TDI Style,11499.0,Diesel,2018,147508,95.0,5,5.0,Manual,Berlina,1598.0,Blanco,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:56:26,https://www.coches.net/seat-ibiza-16-tdi-70kw-...

Comparamos primero los valores de la columna ```"combustible"```:

In [28]:
df["combustible"].value_counts()

combustible
Diésel                2380
Gasolina              2163
Híbrido                704
Eléctrico              133
Híbrido enchufable      66
Name: count, dtype: int64

In [61]:
df_db["combustible"].value_counts()

combustible
Diesel                343
Gasolina              324
Híbrido                36
Eléctrico               9
Híbrido Enchufable      6
Name: count, dtype: int64

Vemos que son ligeramente distintas. Lo que haremos será corregir la carga del WebScraping para ajustarlos a los valores del dataset de kaggle.

Vamos con los valores de la columna ```"color"```:

In [29]:
df["color"].value_counts()

color
Blanco                                                                   1527
Gris / Plata                                                             1105
Negro                                                                     601
Azul                                                                      438
Rojo                                                                      348
Marrón                                                                     84
Verde                                                                      79
Granate                                                                    67
Beige                                                                      66
Amarillo                                                                   44
Blanco (BLANCO)                                                            38
Naranja                                                                    33
Blanco (BLANCO PERLADO)                                                    21
Gris / Plata (Gris)                                                        19
Gris / Plata (GRIS)                                                        17
Rojo (ROJO)                                                                12
Violeta / Lila                                                             12
Blanco (Blanco Classic)                                                    11
Azul (AZUL)                                                                11
Negro (NEGRO)                                                              11
Blanco (Blanco Perlado Metalizado)                                         10
Gris / Plata (PLATA)                                                       10
Blanco (Blanco Perlado)                                                     9
326 Blanco (sÃ³lido)                                                        9
Blanco (PM Pintura metalizada)                                              8
WD Cassa White (sÃ³lido)                                                    8
Gris / Plata (Plata)                                                        7
UD Clear White (sÃ³lido)                                                    7
Gris / Plata (GRIS OSCURO)                                                  7
Rojo (rojo)                                                                 6
Negro (negro)                                                               6
Blanco (*GET*)                                                              6
Blanco (*LRO*)                                                              6
Blanco (Tela Negra)                                                         6
Blanco (*ALI*)                                                              5
Gris / Plata (Tela Negra)                                                   5
Rojo (ENGINE RED)                                                           5
Blanco (*BAR*)                                                              5
Blanco (CLEAR WHITE)                                                        5
Blanco (BLANCO CLASSIC)                                                     5
Gris / Plata (OSCURO)                                                       4
PYW Polar White (sÃ³lido)                                                   4
Blanco (Perlado)                                                            4
Gris / Plata (PLATA LUNA)                                                   4
Azul (AZUL DENIM)                                                           4
Blanco (QAB Blanco Perlado Metalizado)                                      4
Blanco (326 Blanco SÃ³lido)                                                 4
Gris / Plata (Plata Diamante Metalizado)                                    4
Rojo (TOMATO RED)                                                           4
1D Clear White (sÃ³lido)                                                    4
Gris / Plata (Gris oscuro)                                                  4
Azul (Azul Oscuro)                                                          4
Azul (Tela Negra)                                                           3
Negro (NEGRO ZAINO)                                                         3
Blanco (*CAS*)                                                              3
QAB Blanco Perlado (metalizado)                                             3
Negro (*BAR*)                                                               3
Azul (Tapicería Negra)                                                      3
Gris / Plata (*BAR*)                                                        3
Blanco (blanco)                                                             3
Gris / Plata (GRAFITO)                                                      3
Rojo (*CAS*)                                                                3
TCW Creamy White (sÃ³lido)                                                  3
Rojo (Tela Negra)                                                           3
HW2 Deluxe White (metalizado)                                               3
040 Blanco Classic (sÃ³lido)                                                3
Gris / Plata (*ALI*)                                                        3
Blanco (*RIV*)                                                              3
Blanco (Tela reciclada negra)                                               3
Blanco (*PAM*)                                                              3
Rojo (ROJO TOKIO)                                                           3
Blanco (Cassa White)                                                        3
Gris / Plata (PLATA METALIZADO)                                             3
Blanco (BLANCO )                                                            3
POLAR WHITE                                                                 3
1G3 Gris Grafito (metalizado)                                               2
Platinum Graphite (ABT)                                                     2
Gris / Plata (Tela reciclada negra)                                         2
CB7 Cosmo Blue (metalizado)                                                 2
Gris / Plata (GRIS FALCON)                                                  2
Beige (champagne)                                                           2
RAH Sleek Silver (metalizado)                                               2
NKA Phantom Black (mica)                                                    2
X-BLANCO                                                                    2
Blanco (Polar White)                                                        2
Blanco (NACARADO)                                                           2
Beige (*GET*)                                                               2
Azul (STELLAR BLUE)                                                         2
Negro (PHANTOM BLACK)                                                       2
KAD Gris (metalizado)                                                       2
Blanco (Tapicería de Cuero/Alcántara Negro con pespuntes rojos)             2
Gris / Plata (GRIS METEORO)                                                 2
Gris / Plata (*ALZ*)                                                        2
D5U Sand Track (metalizado)                                                 2
AA9 Infra Red (metalizado)                                                  2
Azul (MET Pintura metalizada)                                               2
Verde (VERDE)                                                               2
Blanco (WD Cassa White)                                                     2
U3S Platinum Silver (metalizado)                                            2
Blanco (*ZAR*)                                                              2
Gris / Plata (GRIS DIAMANTE)                                                2
Azul (AZUL COBALTO)                                                         2
NKA Phantom Black (perlado)                                                 2
Rojo (*BAR*)                                                                2
Blanco (BLANCO PERLA)                                                       2
IM Titanium Silver (metalizado)                                             2
Azul (AZUL ULTRAMAR)                                                        2
1F7 Plata (metalizado)                                                      2
Signal Red (metalizado)                                                     2
Rojo (SHINY RED)                                                            2
Gris Diamante (met)                                                         2
Blanco (WHITE)                                                              2
Blanco (Blanco Iceberg S?lido)                                              2
FRD Track Red (sÃ³lido)                                                     2
Blanco (040 Pure White)                                                     2
Azul (ARA BLUE)                                                             2
Gris / Plata (DORADO)                                                       2
Blanco (Tapicería Grey Blue)                                                2
Blanco (*SEV*)                                                              2
Blanco (Tela Color Package Negra)                                           2
Azul (Cuero Negro)                                                          2
SWP Snow Pearl White (perlado)                                              2
Blanco (Clear White)                                                        2
PULSE RED                                                                   2
Negro (Tela reciclada negra)                                                2
Azul (BLUE FLAME)                                                           2
Azul Brillante (metalizado)                                                 2
Gris / Plata (Gris Diamante)                                                2
Azul (CHAMPION BLUE)                                                        2
Gris / Plata (NUEVO GRIS/NEGRO)                                             2
Azul (Tapiceria de tela negra)                                              2
Gris / Plata (Textil Acenta color negro)                                    2
Blanco (perlado)                                                            2
Negro (Tela Negra)                                                          2
Azul (AZUL VIVID)                                                           2
Negro (SHINY RED)                                                           2
MZH Phantom Black (mica)                                                    2
Blanco (Tapicería de tela Oceanids Black)                                   2
070 Blanco Perlado (perlado)                                                2
Rojo (ROJO VOLCAN)                                                          2
Blanco Classic (sólida)                                                     2
11 Blue Spirit (metalizado)                                                 2
Azul (GRAVITY BLUE)                                                         2
Blanco (BLANCO PERLADO )                                                    2
Gris / Plata (GRIS PLOMO)                                                   2
Rojo (X-Rojo)                                                               2
Rojo (Rojo Fusion Metalizado)                                               2
Blanco (Blanco perlado)                                                     2
Negro (Negro Azabache)                                                      2
K3Y Celestial Silver (metalizado)                                           2
S6G Stone Gray (metalizado)                                                 2
Blanco (*MOS*)                                                              2
Z11 Negro (metalizado)                                                      2
Azul (Azul Oceano)                                                          2
Naranja (Tapicería mixta Color Package Negro)                               2
Azul (Marino)                                                               2
Rojo (Tapicería de tela Oceanids Black)                                     2
Negro (PLATINIUM GRAFITE)                                                   2
Rojo (*GET*)                                                                2
Blanco (*COR*)                                                              2
Rojo (rojo oscuro)                                                          2
Gris / Plata (Plata Polar)                                                  2
Gris / Plata (Textil Acenta/N-Connecta color negro)                         2
Dark Penta Metal (H8G)                                                      2
040 Blanco (sÃ³lido)                                                        2
QM1 Blanco Iceberg (sÃ³lido)                                                2
Rojo (*SEV*)                                                                2
Gris / Plata (Gris plomo metalizado)                                        2
Gris / Plata (GRIS PLATINO)                                                 2
Blanco (varios)                                                             2
Rojo (*BIL*)                                                                2
Negro (*ALB*)                                                               2
Gris / Plata (GRIS PLATA / HYBRID / VNT)                                    2
Cassa White (WD)                                                            2
Blanco (Tapicería Negra)                                                    2
Azul (*CAS*)                                                                2
Y3Y White Sand (metalizado)                                                 2
Gris / Plata (gris oscuro )                                                 2
Rojo (*COL*)                                                                2
Negro (MET Pintura metalizada)                                              2
XN3 Moon Rock (metalizado)                                                  2
Azul (Azul Denim)                                                           2
Blanco (POLAR WHITE)                                                        2
Gris / Plata (Tela + Piel sintética Negra)                                  1
Beige (SILKY BRONCE)                                                        1
Azul (Azul Ultramar)                                                        1
Azul (Océano)                                                               1
Gris / Plata (Negro)                                                        1
Gris / Plata (champán)                                                      1
Gris / Plata (Mate)                                                         1
Gris / Plata (*GET*)                                                        1
Newport Blue (metalizado)                                                   1
Gris / Plata (**CONTADO-PLATA-ACENTA-LLANTAS DIF-19**)                      1
PLATINIUM SILVER                                                            1
Rojo (ROJO CLASSIC)                                                         1
Blanco (Chalk White)                                                        1
Azul (AZUL ORIÓN)                                                           1
Naranja (RNG)                                                               1
Blanco (Bitono)                                                             1
Naranja (Kaji)                                                              1
Gris / Plata (GRIS ASCARI / BITONO / CARPLAY / ANDROID AUTO /VNT)           1
Negro (Gris)                                                                1
Gris / Plata (*ALC*)                                                        1
Gris / Plata (negro)                                                        1
Rojo (LIBRO OFICIAL TOYOTA)                                                 1
Azul (Gris Celestite)                                                       1
Granate (Sunset Red / Phantom)                                              1
Negro (muy cuidado ni un raspón hibrido etiqueta eco)                       1
Blanco (Textil Acenta color negro)                                          1
Rojo (Rojo+Techo negro)                                                     1
Azul (Tela reciclada negra)                                                 1
Azul (azul)                                                                 1
Amarillo (Bronce Chestnut Metalizado)                                       1
Rojo (NEGRO)                                                                1
Rojo (Piel Sintética Gris)                                                  1
Blanco (bitono, varios colores )                                            1
Gris / Plata (Lunar Silver)                                                 1
Rojo (Fiery Red)                                                            1
Blanco (PYW Polar White)                                                    1
Gris / Plata (ASTRO GREY)                                                   1
Amarillo (TODOS)                                                            1
Gris / Plata (Tapicería de tela Oceanids Black)                             1
Gris / Plata (Tapicería de Tela Negra)                                      1
Azul Océano (metalizado)                                                    1
Rojo (Emocion)                                                              1
209 Negro Azabache (metalizado)                                             1
Blanco (C1DE CLEAR WHITE)                                                   1
Blanco (Iceberg)                                                            1
Gris / Plata (BITONO PLATA / VNT )                                          1
Gris / Plata (Techo rojo )                                                  1
Gris / Plata (*SEV*)                                                        1
Marrón (NEGRO)                                                              1
Blanco Perlado (metalizado)                                                 1
Blanco (Tapicería de tela Negra)                                            1
Runway Red (CR5)                                                            1
Granate (guinda)                                                            1
Naranja (KAJI)                                                              1
B3L Blue Flame (metalizado)                                                 1
8X8 Azul Orion (met)                                                        1
Platinum Graphite (metalizado)                                              1
Rojo (Tapicería mixta Color Package Negro)                                  1
ABP Aurora Black (perlado)                                                  1
Gris / Plata (Tapicería de Cuero/Alcántara)                                 1
Rojo (Rojo Solido S?lido)                                                   1
Blanco (SNOW PEARL WHITE)                                                   1
Blanco (Snow White Pearl)                                                   1
Gris / Plata (Plateado)                                                     1
Azul (OSCURO)                                                               1
Azul (Dark Blue)                                                            1
Rojo (ROJO RUBÍ BI-TONO)                                                    1
Azul (HORIZON BLUE)                                                         1
Blanco (Blanco Peraldo)                                                     1
Amarillo (QUANTUM YELLOW)                                                   1
Gris / Plata (KY0 Plata Diamante)                                           1
1F7 Plata (met)                                                             1
Granate (GRANATE)                                                           1

In [65]:
df_db["color"].value_counts()

color
Blanco          281
Gris / Plata    133
Negro           114
Azul             90
Rojo             79
Naranja           9
Marrón            5
Beige             5
Verde             3
Amarillo          3
Name: count, dtype: int64

Aquí vemos que los colores del dataset de kaggle son muy dispares. De momento, lo que haremos es quedarnos con la primera palabra en cada string y ponerlo en minúscula en ambos DataFrames:

In [30]:
# Dataset kaggle:

import numpy as np

df["color"] = df["color"].str.split().str[0].str.lower()

# Reemplazamos con NaN si no empieza por una letra o número:
df["color"] = df["color"].where(df["color"].str.match(r'^[a-z0-9]', na=False), np.nan)


df["color"].value_counts()

color
blanco       1822
gris         1318
negro         678
azul          550
rojo          449
marrón         90
verde          84
beige          79
granate        76
amarillo       53
naranja        41
violeta        13
326             9
wd              8
ud              7
040             5
hw2             4
nka             4
polar           4
1d              4
pyw             4
y3y             3
cassa           3
u3s             3
qab             3
tcw             3
1f7             3
platinum        3
dark            2
11              2
cb7             2
runway          2
swp             2
signal          2
frd             2
pulse           2
im              2
mzh             2
d5u             2
209             2
white           2
1g3             2
rah             2
070             2
xn3             2
kad             2
clear           2
x-blanco        2
qm1             2
s6g             2
z11             2
k3y             2
chalk           2
aurora          2
aa9             2
micron          1
sleek           1
gab             1
tela            1
1h5             1
1f8             1
quantum         1
piel            1
1g2             1
galaxy          1
phantom         1
2kr             1
phoenix         1
psw             1
lunar           1
08              1
bi-tono         1
tapicería       1
gunmetal        1
olivine         1
clean           1
3t3             1
jhr             1
b3l             1
platinium       1
newport         1
r3g             1
zar             1
z3u             1
aud             1
deep            1
deluxe          1
1k              1
zy2             1
gravity         1
p6w             1
my3             1
star            1
r3u             1
naj             1
3u5             1
h8g             1
tkg             1
abp             1
8x8             1
engine          1
cosmo           1
1e0             1
Name: count, dtype: int64

In [ ]:
# Dataset WebScraping:

import numpy as np

df_db["color"] = df_db["color"].str.split().str[0].str.lower()

# Reemplazamos con NaN si no empieza por una letra o número:
df_db["color"] = df_db["color"].where(df_db["color"].str.match(r'^[a-z0-9]', na=False), np.nan)


df_db["color"].value_counts()

color
blanco      281
gris        133
negro       114
azul         90
rojo         79
naranja       9
marrón        5
beige         5
verde         3
amarillo      3
Name: count, dtype: int64

De momento vamos a dejarlo así, aunque quizás hagamos alguna transformación más para el modelo para los colores de los datos del Dataset de Kaggle.

Vamos a printear de nuevo los DataFrames a ver si hay alguna columna más que modificar:

In [31]:
#Dataset Kaggle:

pd.set_option('display.max_columns', None)
df.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
9,100000,NISSAN,NOTE,6300.0,Gasolina,2016.0,77000,80.0,5,None,Manual,None,None,blanco,Barcelona,None,dataset kaggle,2020-12-14,202012,2021-01-15 00:00:00,13b881bdd31a0387edd64edd726e8c93
35,100001,KIA,Sportage,4500.0,Diésel,2008.0,128000,NaN,5,None,Manual,None,None,gris,Huelva,None,dataset kaggle,2021-01-14,202101,2021-01-15 00:00:00,9df64689ac5768546723b844d76a1b9b
39,100002,KIA,XCeed,32300.0,Híbrido enchufable,2021.0,2800,141.0,5,None,Manual,None,None,cassa,Murcia,None,dataset kaggle,2020-12-17,202012,2021-01-15 00:00:00,0d17809a4a1de7ef2c63f342f306713c
50,100003,NISSAN,NOTE,7900.0,Gasolina,2015.0,54200,80.0,5,None,Manual,None,None,blanco,Pontevedra,None,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,a19d08cbe35ce508121bd5613d46455b
72,100004,HYUNDAI,i40,8400.0,Gasolina,2012.0,107000,135.0,4,None,Manual,None,None,gris,Álava,None,dataset kaggle,2021-01-08,202101,2021-01-15 00:00:00,02916bf1509d2988bc4f5cb9e2551799

In [73]:
# Dataset WebScraping:

pd.set_option('display.max_columns', None)
df_db.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
0,60579674,OPEL,Corsa 1.2 XEL Edition,12290.0,Gasolina,2022,58168,75.0,5,5.0,Manual,Berlina,1199.0,rojo,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:58:23,https://www.coches.net/opel-corsa-12-xel-55kw-...
1,60579673,OPEL,Corsa 1.2T XHL GSLine,14510.0,Gasolina,2022,18652,100.0,5,5.0,Manual,Berlina,1199.0,azul,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:57:56,https://www.coches.net/opel-corsa-12t-xhl-74kw...
2,60579672,OPEL,Corsa 1.2T XHL GSLine,13950.0,Gasolina,2022,27493,100.0,5,5.0,Manual,Berlina,1199.0,gris,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:57:34,https://www.coches.net/opel-corsa-12t-xhl-74kw...
3,60579678,OPEL,Corsa 1.2 XEL Edition,12290.0,Gasolina,2022,49466,75.0,5,5.0,Manual,Berlina,1199.0,blanco,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:56:49,https://www.coches.net/opel-corsa-12-xel-55kw-...
4,60580266,SEAT,Ibiza 1.6 TDI Style,11499.0,Diesel,2018,147508,95.0,5,5.0,Manual,Berlina,1598.0,blanco,Valencia,C (verde),WebScraping,2025-05-16,202505.0,2025-05-16 15:56:26,https://www.coches.net/seat-ibiza-16-tdi-70kw-...

Los modelos también son distintos, pero lo que haremos es hacer una lista con todos los modelos del Dataset de Kaggle, que es más genérico, e identificar los modelos del WebScraping con estos. Si no es posible en alguno, dejaremos el modelo específico del WebScrapping.

Las siguientes transformaciones del dataset de coches de WebScraping serán incorporadas en el script de carga del scrapeo, para que los datos se carguen ya correctamente:

- modelo in modelos del dataset --> coge ese, si no, guarda el string.
- combustible en este formato: [Diésel, Gasolina, Híbrido enchufable, Eléctrico, Híbrido]
- color --> quedarse solo con el primero y en minúscula.

## Subida del DataFrame de Kaggle a la BBDD:

Ahora que tenemos el DataFrame de Kaggle en un formato compatible con el de los vehículos scrapeados, vamos a guardar los registros para que todos estén en la misma tabla.

Primero comprobamos el estado actual del DataFrame de Kaggle:

In [32]:
#Dataset Kaggle:

pd.set_option('display.max_columns', None)
df.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
9,100000,NISSAN,NOTE,6300.0,Gasolina,2016.0,77000,80.0,5,None,Manual,None,None,blanco,Barcelona,None,dataset kaggle,2020-12-14,202012,2021-01-15 00:00:00,13b881bdd31a0387edd64edd726e8c93
35,100001,KIA,Sportage,4500.0,Diésel,2008.0,128000,NaN,5,None,Manual,None,None,gris,Huelva,None,dataset kaggle,2021-01-14,202101,2021-01-15 00:00:00,9df64689ac5768546723b844d76a1b9b
39,100002,KIA,XCeed,32300.0,Híbrido enchufable,2021.0,2800,141.0,5,None,Manual,None,None,cassa,Murcia,None,dataset kaggle,2020-12-17,202012,2021-01-15 00:00:00,0d17809a4a1de7ef2c63f342f306713c
50,100003,NISSAN,NOTE,7900.0,Gasolina,2015.0,54200,80.0,5,None,Manual,None,None,blanco,Pontevedra,None,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,a19d08cbe35ce508121bd5613d46455b
72,100004,HYUNDAI,i40,8400.0,Gasolina,2012.0,107000,135.0,4,None,Manual,None,None,gris,Álava,None,dataset kaggle,2021-01-08,202101,2021-01-15 00:00:00,02916bf1509d2988bc4f5cb9e2551799

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5463 entries, 9 to 49995
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        5463 non-null   int64
 1   marca                5463 non-null   object
 2   modelo               5463 non-null   object
 3   precio               5463 non-null   float64
 4   combustible          5446 non-null   object
 5   anyo_vehiculo        5462 non-null   float64
 6   kilometraje          5463 non-null   int64
 7   potencia             4878 non-null   float64
 8   num_puertas          5463 non-null   int64
 9   num_plazas           0 non-null      object
 10  tipo_cambio          5452 non-null   object
 11  tipo_vehiculo        0 non-null      object
 12  cilindrada_motor     0 non-null      object
 13  color                5425 non-null   object
 14  provincia            5462 non-null   object
 15  etiqueta_eco         0 non-null      object
 16  origen_anuncio       5463 non-null   object
 17  fecha_publicacion    5463 non-null   object
 18  anyomes_publicacion  5463 non-null   Int64
 19  fecha_carga          5463 non-null   object
 20  url                  5463 non-null   object
dtypes: Int64(1), float64(3), int64(3), object(14)
memory usage: 944.3+ KB

Antes de cargar los datos, debemos eliminar los 5 registros que tienen el campo ```"modelo"``` = *null*, ya que es una constraint de la tabla creada.

In [ ]:
df = df.dropna(subset=['modelo'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5463 entries, 9 to 49995
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        5463 non-null   int64
 1   marca                5463 non-null   object
 2   modelo               5463 non-null   object
 3   precio               5463 non-null   float64
 4   combustible          5446 non-null   object
 5   anyo_vehiculo        5462 non-null   float64
 6   kilometraje          5463 non-null   int64
 7   potencia             4878 non-null   float64
 8   num_puertas          5463 non-null   int64
 9   num_plazas           0 non-null      object
 10  tipo_cambio          5452 non-null   object
 11  tipo_vehiculo        0 non-null      object
 12  cilindrada_motor     0 non-null      object
 13  color                5425 non-null   object
 14  provincia            5462 non-null   object
 15  etiqueta_eco         0 non-null      object
 16  origen_anuncio       5463 non-null   object
 17  fecha_publicacion    5463 non-null   object
 18  anyomes_publicacion  5463 non-null   Int64
 19  fecha_carga          5463 non-null   object
 20  url                  5463 non-null   object
dtypes: Int64(1), float64(3), int64(3), object(14)
memory usage: 944.3+ KB

Vamos a guardar también este último DataFrame con la versión final de los datos sacados de Kaggle y el formato de nuestra tabla TX_VEHICULOS_SEG_MANO, por si tenemos que utilizarlo posteriormente.

In [35]:
df.to_csv("../include/data/processed/df_kaggle_db_nuevas_marcas.csv", index=False)

## Extra: cargar datos finales del DF de Kaggle en BBDD:

In [36]:
import pandas as pd

df = pd.read_csv("../include/data/processed/df_kaggle_db_nuevas_marcas.csv")

df.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
0,100000,NISSAN,NOTE,6300.0,Gasolina,2016.0,77000,80.0,5,NaN,Manual,NaN,NaN,blanco,Barcelona,NaN,dataset kaggle,2020-12-14,202012,2021-01-15 00:00:00,13b881bdd31a0387edd64edd726e8c93
1,100001,KIA,Sportage,4500.0,Diésel,2008.0,128000,NaN,5,NaN,Manual,NaN,NaN,gris,Huelva,NaN,dataset kaggle,2021-01-14,202101,2021-01-15 00:00:00,9df64689ac5768546723b844d76a1b9b
2,100002,KIA,XCeed,32300.0,Híbrido enchufable,2021.0,2800,141.0,5,NaN,Manual,NaN,NaN,cassa,Murcia,NaN,dataset kaggle,2020-12-17,202012,2021-01-15 00:00:00,0d17809a4a1de7ef2c63f342f306713c
3,100003,NISSAN,NOTE,7900.0,Gasolina,2015.0,54200,80.0,5,NaN,Manual,NaN,NaN,blanco,Pontevedra,NaN,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,a19d08cbe35ce508121bd5613d46455b
4,100004,HYUNDAI,i40,8400.0,Gasolina,2012.0,107000,135.0,4,NaN,Manual,NaN,NaN,gris,Álava,NaN,dataset kaggle,2021-01-08,202101,2021-01-15 00:00:00,02916bf1509d2988bc4f5cb9e2551799

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5463 entries, 0 to 5462
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        5463 non-null   int64
 1   marca                5463 non-null   object
 2   modelo               5463 non-null   object
 3   precio               5463 non-null   float64
 4   combustible          5446 non-null   object
 5   anyo_vehiculo        5462 non-null   float64
 6   kilometraje          5463 non-null   int64
 7   potencia             4878 non-null   float64
 8   num_puertas          5463 non-null   int64
 9   num_plazas           0 non-null      float64
 10  tipo_cambio          5452 non-null   object
 11  tipo_vehiculo        0 non-null      float64
 12  cilindrada_motor     0 non-null      float64
 13  color                5425 non-null   object
 14  provincia            5462 non-null   object
 15  etiqueta_eco         0 non-null      float64
 16  origen_anuncio       5463 non-null   object
 17  fecha_publicacion    5463 non-null   object
 18  anyomes_publicacion  5463 non-null   int64
 19  fecha_carga          5463 non-null   object
 20  url                  5463 non-null   object
dtypes: float64(7), int64(4), object(10)
memory usage: 896.4+ KB

Antes de cargarlos, vamos a quitarle también los acentos a los valores de la columna modelo y a ponerlos en minúscula:

In [38]:
from unidecode import unidecode

df["modelo"] = df["modelo"].str.lower().apply(unidecode)

In [40]:
df[df["marca"] == "KIA"]["modelo"].value_counts()

modelo
sportage                   229
ceed                       141
carens                     115
stonic                      88
picanto                     71
rio                         63
xceed                       61
niro                        60
sorento                     53
carnival                    44
pro ceed                    34
niro phev                   25
optima                      23
ceed tourer                 20
soul                        15
ceed sportswagon            12
venga                       11
e-niro                      10
proceed                      8
optima sw                    7
cerato                       5
shuma                        4
stinger                      3
ceed sporty wagon            3
e-soul                       3
soul ev                      2
k2500                        1
optima phev                  1
leon                         1
sephia ii                    1
magentis                     1
pro_ceed gt                  1
niro hibrido enchufable      1
pregio                       1
Name: count, dtype: int64

In [41]:
import sqlite3

con = sqlite3.connect("../include/db_vehiculos.db")

try:
    df.to_sql('TX_VEHICULOS_SEG_MANO', con, if_exists='append', index=False)
    print("Datos insertados con éxito")
except Exception as e:
    print("Error al insertar datos:", e)

con.close()

Datos insertados con éxito

In [43]:
import pandas as pd
import sqlite3

con = sqlite3.connect("../include/db_vehiculos.db")

query = """
SELECT *
FROM TX_VEHICULOS_SEG_MANO
where
    --origen_anuncio = 'WebScraping'
    origen_anuncio = 'dataset kaggle'
    --AND marca not in ('BMW', 'VOLKSWAGEN', 'MERCEDES-BENZ', 'AUDI', 'PEUGEOT', 'FORD', 'RENAULT', 'OPEL', 'CITROEN', 'SEAT')

    --pk_anuncio_id in (1, 2, 3, 4)
order by
    fecha_carga desc
;
"""

df_db_new = pd.read_sql_query(query, con)

df_db_new.head()

,pk_anuncio_id,marca,modelo,precio,combustible,anyo_vehiculo,kilometraje,potencia,num_puertas,num_plazas,tipo_cambio,tipo_vehiculo,cilindrada_motor,color,provincia,etiqueta_eco,origen_anuncio,fecha_publicacion,anyomes_publicacion,fecha_carga,url
0,1,SEAT,toledo,950.0,Diésel,2000.0,227000,NaN,4,None,Manual,None,None,verde,Navarra,None,dataset kaggle,2020-12-18,202012,2021-01-15 00:00:00,e158ae0ca53119ca199c28c36b5c2fcd
1,2,CITROEN,c1,6200.0,Gasolina,2017.0,50071,82.0,5,None,Manual,None,None,blanco,Tenerife,None,dataset kaggle,2021-01-02,202101,2021-01-15 00:00:00,ff267ebb7e700246f47f84f3db660b4b
2,3,FORD,transit connect,7851.0,Diésel,2016.0,103000,100.0,4,None,Manual,None,None,blanco,Barcelona,None,dataset kaggle,2020-12-16,202012,2021-01-15 00:00:00,de4b02db28ea7786c622b969be10c7c7
3,4,VOLKSWAGEN,caravelle,19426.0,Diésel,2014.0,120000,140.0,4,None,Manual,None,None,blanco,Navarra,None,dataset kaggle,2020-11-25,202011,2021-01-15 00:00:00,0449972a4d07594acf92e9a7dd28b39c
4,5,FORD,transit,22850.0,Diésel,2017.0,107000,130.0,2,None,Manual,None,None,blanco,Sevilla,None,dataset kaggle,2021-01-12,202101,2021-01-15 00:00:00,12c4fa49bd4fdf23f19ecf396d3f02ef

In [44]:
df_db_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40504 entries, 0 to 40503
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pk_anuncio_id        40504 non-null  int64
 1   marca                40504 non-null  object
 2   modelo               40504 non-null  object
 3   precio               40504 non-null  float64
 4   combustible          40469 non-null  object
 5   anyo_vehiculo        40502 non-null  float64
 6   kilometraje          40504 non-null  int64
 7   potencia             33143 non-null  float64
 8   num_puertas          40504 non-null  int64
 9   num_plazas           0 non-null      object
 10  tipo_cambio          40413 non-null  object
 11  tipo_vehiculo        0 non-null      object
 12  cilindrada_motor     0 non-null      object
 13  color                40019 non-null  object
 14  provincia            40499 non-null  object
 15  etiqueta_eco         0 non-null      object
 16  origen_anuncio       40504 non-null  object
 17  fecha_publicacion    40504 non-null  object
 18  anyomes_publicacion  40504 non-null  int64
 19  fecha_carga          40504 non-null  object
 20  url                  40504 non-null  object
dtypes: float64(3), int64(4), object(14)
memory usage: 6.5+ MB

Volvemos a guardar en .csv con el nuevo cambio:

In [45]:
df_db_new.to_csv("../include/data/processed/df_kaggle_final_db_nuevas_marcas.csv", index=False)

prueba:

In [46]:
import pandas as pd
import sqlite3

con = sqlite3.connect("../include/db_vehiculos.db")

query = """
SELECT marca, modelo
FROM TX_VEHICULOS_SEG_MANO
--where
    --origen_anuncio = 'dataset kaggle'
    --origen_anuncio = 'WebScraping'
group by
    marca, modelo
;
"""

df_db_modelo = pd.read_sql_query(query, con)

df_db_modelo.head()

  marca modelo
0  AUDI    100
1  AUDI     80
2  AUDI     90
3  AUDI     a1
4  AUDI     a2

In [47]:
df_db_modelo["modelo"].value_counts()

modelo
coupe                                  2
transporter                            2
leon                                   2
100                                    1
108                                    1
zafira tourer                          1
zafira-e life                          1
1007                                   1
106                                    1
107                                    1
2008                                   1
zafira                                 1
205                                    1
206                                    1
206 +                                  1
206 sw                                 1
207                                    1
207 +                                  1
zafira life                            1
vectra                                 1
vivaro                                 1
208 xad                                1
tigra                                  1
signum                                 1
omega                                  1
movano                                 1
monterey                               1
mokka x                                1
mokka                                  1
meriva                                 1
manta                                  1
karl                                   1
kadett                                 1
insignia                               1
208                                    1
3008                                   1
gt                                     1
3008 hybrid                            1
traveller                              1
rifter                                 1
rcz                                    1
partner origin                         1
partner                                1
ion                                    1
expert                                 1
e-208                                  1
e-2008                                 1
boxer                                  1
bipper                                 1
807                                    1
806                                    1
607                                    1
508 hybrid                             1
508                                    1
505                                    1
5008                                   1
407 sw                                 1
407                                    1
406                                    1
405                                    1
4008                                   1
4007                                   1
309                                    1
308                                    1
307 sw                                 1
307                                    1
306                                    1
gtc                                    1
grandland x                            1
grandland x phev                       1
leaf                                   1
patrol                                 1
pathfinder                             1
nv400                                  1
nv300                                  1
nv250                                  1
nv200                                  1
nt400 cabstar                          1
nt400                                  1
np300 navara                           1
note                                   1
navara                                 1
murano                                 1
micra                                  1
maxima qx                              1
kubistar                               1
5 E-Tech Iconic Cinq Autonomia Conf    1
juke                                   1
interstar                              1
gt-r                                   1
evalia                                 1
e-nv200 evalia                         1
e-nv200                                1
cube                                   1
camion                                 1
cabstar e                              1
cabstar                                1
bluebird                               1
almera tino                            1
almera                                 1
370z                                   1
patrol gr                              1
pick-up                                1
pixo                                   1
primastar                              1
frontera                               1
crossland x                            1
crossland                              1
corsa-e                                1
corsa van                              1
corsa                                  1
combo life                             1
combo                                  1
calibra                                1
cabrio                                 1
astra                                  1
ascona                                 1
antara                                 1
ampera                                 1
agila                                  1
adam                                   1
x-trail                                1
vanette cargo                          1
vanette                                1
trade                                  1
tiida                                  1
terrano ii                             1
terrano                                1
sunny                                  1
serena                                 1
qashqai+2                              1
qashqai                                1
pulsar                                 1
primera                                1
19                                     1
Arkana Zen ETECH Hibrido 105kW145CV    1
300 zx                                 1
prius                                  1
arteon                                 1
amarok                                 1
Taigo Life 1.0 TSI                     1
TRoc Sport 1.5 TSI DSG                 1
ID. BUZZ Pro                           1
yaris                                  1
verso                                  1
urban cruiser                          1
supra                                  1
rav4                                   1
proace verso                           1
proace city verso                      1
proace                                 1
prius+                                 1
previa                                 1
bora                                   1
mr2                                    1
land cruiser 90                        1
land cruiser 80                        1
land cruiser 200                       1
land cruiser 100                       1
land cruiser                           1
iq                                     1
hilux                                  1
gt86                                   1
gr yaris                               1
dyna                                   1
corolla verso                          1
corolla sedan                          1
corolla                                1
beetle                                 1
caddy                                  1
Austral Techno ETech Full Hybrid       1
new beetle                             1
up!                                    1
touran                                 1
touareg                                1
tiguan allspace                        1
tiguan                                 1
t-roc                                  1
t-cross                                1
sharan                                 1
scirocco                               1
santana                                1
polo                                   1
phaeton                                1
passat cc                              1
passat                                 1
multivan                               1
california                             1
lupo                                   1
lt                                     1
jetta                                  1
id.3                                   1
grand california                       1
golf sportsvan                         1
golf plus                              1
golf                                   1
eos                                    1
e-up!                                  1
crafter                                1
corrado                                1
cc                                     1
caravelle                              1
celica                                 1
carina e                               1
camry                                  1
kangoo express                         1
r4                                     1
r21                                    1
r11                                    1
modus                                  1
megane                                 1
maxity                                 1
master propulsion                      1
master                                 1
mascott                                1
latitude                               1
laguna                                 1
koleos                                 1
kangoo z.e.                            1
kangoo furgon                          1
kangoo combi                           1
c-hr                                   1
kangoo                                 1
kadjar                                 1
grand scenic                           1
grand modus                            1
grand kangoo combi                     1
grand espace                           1
fluence                                1
express                                1
espace                                 1
clio iii                               1
clio campus                            1
clio 4                                 1
clio                                   1
captur                                 1
r5                                     1
r6                                     1
safrane                                1
scenic                                 1
aygo                                   1
avensis verso                          1
avensis                                1
auris                                  1
4runner                                1
toledo                                 1
terra                                  1
tarraco                                1
mii                                    1
marbella                               1
malaga                                 1
inca                                   1
ibiza                                  1
exeo                                   1
cordoba                                1
ateca                                  1
arosa                                  1
arona                                  1
altea xl                               1
altea freetrack                        1
altea                                  1
alhambra                               1
zoe                                    1
wind                                   1
vel satis                              1
twizy                                  1
twingo                                 1
trafic                                 1
talisman                               1
350z                                   1
vito                                   1
100 nx                                 1
c4 cactus                              1
grand c4 picasso                       1
evasion                                1
e-c4                                   1
ds5                                    1
ds4                                    1
ds3                                    1
c8                                     1
c6                                     1
c5 aircross hybrid                     1
c5 aircross                            1
c5                                     1
c4 spacetourer                         1
c4 sedan                               1
c4 picasso                             1
c4 aircross                            1
z4                                     1
c4                                     1
c3 pluriel                             1
c3 picasso                             1
c3 aircross                            1
c3                                     1
c2                                     1
c1                                     1
c-zero                                 1
c-elysee                               1
c-crosser                              1
c-15                                   1
bx                                     1
berlingo                               1
ax                                     1
grand c4 spacetourer                   1
gsa                                    1
jumper                                 1
jumpy                                  1
ka+                                    1
ka                                     1
grand tourneo connect                  1
grand c-max                            1
granada                                1
galaxy                                 1
fusion                                 1
focus c-max                            1
focus                                  1
fiesta van                             1
fiesta                                 1
explorer                               1
escort                                 1
edge                                   1
ecosport                               1
courier                                1
cougar                                 1
connect                                1
capri                                  1
c-max                                  1
b-max                                  1
zx                                     1
xsara picasso                          1
xsara                                  1
xm                                     1
xantia                                 1
spacetourer                            1
saxo                                   1
nemo                                   1
2cv                                    1
z3                                     1
maverick                               1
e-tron sportback                       1
s3                                     1
rs7                                    1
rs6                                    1
rs5                                    1
rs4                                    1
rs3                                    1
rs q3                                  1
r8                                     1
q8                                     1
q7                                     1
q5                                     1
q3 sportback                           1
q3                                     1
q2                                     1
e-tron                                 1
z1                                     1
cabriolet                              1
allroad quattro                        1
a8                                     1
a7                                     1
a6 allroad quattro                     1
a6                                     1
a5                                     1
a4 allroad quattro                     1
a4 allroad                             1
a4                                     1
a3                                     1
a2                                     1
a1                                     1
90                                     1
s4                                     1
s5                                     1
s6                                     1
s7                                     1
x7                                     1
x6                                     1
x5                                     1
x4                                     1
x3                                     1
x2                                     1
x1                                     1
serie 8                                1
serie 7                                1
serie 6                                1
serie 5                                1
serie 4                                1
serie 3                                1
serie 2 gran tourer                    1
serie 2 active tourer                  1
serie 2                                1
serie 1                                1
ix3                                    1
iX1 xDrive30                           1
i8                                     1
i4 eDrive40                            1
i3                                     1
compact                                1
tts                                    1
tt rs                                  1
tt                                     1
sq7                                    1
sq5                                    1
s8                                     1
kuga                                   1
mondeo                                 1
80                                     1
280                                    1
clase clc                              1
clase cla                              1
clase cl                               1
clase c                                1
clase b                                1
clase a                                1
cla                                    1
citan                                  1
amg gt                                 1
EQA EQA 250                            1
600                                    1
500                                    1
400                                    1
300                                    1
260                                    1
shuma                                  1
230                                    1
220                                    1
200                                    1
190                                    1
180d                                   1
140d                                   1
100d                                   1
xceed                                  1
venga                                  1
stonic                                 1
stinger                                1
sportage                               1
soul ev                                1
soul                                   1
clase clk                              1
clase cls                              1
clase e                                1
clase g                                1
viano                                  1
vaneo                                  1
sprinter                               1
sls amg                                1
mercedes-amg gt                        1
gls                                    1
gle coupe                              1
gle                                    1
glc coupe                              1
glb                                    1
gla                                    1
eqc                                    1
cls                                    1
clase x                                1
clase v                                1
clase slk                              1
clase slc                              1
clase sl r129                          1
clase sl                               1
clase s                                1
clase r                                1
clase m                                1
clase gls                              1
clase glk                              1
clase gle coupe                        1
clase gle                              1
clase glc                              1
clase gla                              1
clase gl                               1
sorento                                1
sephia ii                              1
mustang                                1
elantra                                1
ix35                                   1
ix20                                   1
ioniq                                  1
i40                                    1
i30                                    1
i20 active                             1
i20                                    1
i10                                    1
h350                                   1
h-1 travel                             1
h-1                                    1
grand santa fe                         1
getz                                   1